#exportPattern("^[[:alpha:]]+")
export(Bsublin, Copula.Norm.Pois, glmGeneric, glmnetEmpty, glmpois, lambdaMax, myglmnet.max,
		LPGM.select, LGM.select.generic, LISM.select, LGGM.select,
		Merge.GraphXY, MGM.select,
		plot.GMS, print.GMS,
		SPGM.select, TPGM.select, 
		WPGM.select, WPGM.network, WPGM.path.neighborhood, WPGMSim, wpgmGrad, wpgmObj, WPGM.neighborhood)

